{%extends 'plantilla.html'%}
{% load static %}
{%block 'titulo'%}
Productos
{%endblock%}
{%block 'content'%}
<table id="myTable" class="display table nowrap" style="width:100%">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Cantidad</th>
      <th>Accion</th>
    </tr>
  </thead>
  <tbody>
    {% for producto in productos %}
    <tr>
      <td>{{producto.id}}</td>
      <td>{{producto.name}}</td>
      <td>{{producto.description}}</td>
      <td>{{producto.price}}</td>
      <td>{{producto.quantity}}</td>
      <td><a href="{% url 'detalle' id_product=producto.pk %}">Detalle</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br>
<div class="container mt-5">
  <div class="card-group">
    {% for producto in productos %}
    <div class="card">
      <img class="card-img-top" src="/{{producto.imagen}}" alt="{{producto.name}}" width="20%" height="50%" />
      <div class="card-body">
        <h5 class="card-title">{{producto.name}} - ${{producto.price}}</h5>
        <p class="card-text">
          {{producto.description}}
        </p>
        <p class="card-text">
          <small class="text-muted">Publicado {{producto.created_at}}</small>
        </p>
      </div>
    </div>
    {%endfor%}
  </div>
  <div>
    <p>{{varible}}</p>
  </div>
{%endblock%}