{%extends 'plantilla.html'%}
{% load static %}
{%block 'titulo'%}
Login
{%endblock%}
{%block 'content'%}
<h2 class="text-center">Iniciar sesión</span></h2>
<form class="text-center" method="post">
  {% csrf_token %}
  <!-- Evita que otras personas envien peticiones de manera -->
  <div class="form-group">
    <input class="form-control" type="text" name="user" id="user" placeholder="Usuario" required />
    <br>
    <input class="form-control" type="password" name="pass" id="pass" placeholder="Contraseña" required />
    <br>
    <input class="btn btn-primary" type="submit" value="INICIAR SESIÓN" />
  </div>
</form>
{%endblock%}